@font-face {
  font-family: "SUITE-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "SUITE-Regular", sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

main {
  width: 60%;
  margin: auto;
}

.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 6vh;
}

.headerTitle {
  margin-left: 10px;
  font-size: 1.75rem;
}

.searchIcon {
  font-size: 1.4rem;
  text-align: right;
  /* right align */
  margin-left: auto;
}

.container {
  background-color: blue;
  margin-top: 5vh;
}

.reports {
  width: 100%;
  display: flex;
}

.report {
  width: 33%;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
