/* @font-face {
  font-family: "SUITE-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
} */

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Pretendard, sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

main {
  width: 60%;
  margin: auto;
}

a {
  color: black;
}

.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 6vh;
  padding-bottom: 3vh;
}

.headerTitle {
  margin-left: 10px;
  font-size: 1.75rem;
}

.headerRight {
  margin-left: auto;
}

.todayDate {
  font-size: 1.1rem;
  margin-bottom: 1vh;
  margin-right: 0.75vw;
}

.searchIcon {
  font-size: 1.4rem;
  text-align: right;
  margin-left: auto;
}

.headerDivider,
.footerDivider {
  width: 100%;
  height: 0.1px;
}

.container {
  margin-top: 4vh;
  margin-bottom: 5vh;
}

.reportsCategory {
  margin-bottom: 1vh;
}

.reports {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.report {
  width: 30%;
  padding-top: 1vh;
}

.report:nth-child(1),
.report:nth-child(2) {
  padding-right: 3vw;
  border-right: solid thin #c9cfd1;
}

.reportHashtag {
  color: #1b99b5;
  font-size: 0.7rem;
  padding-right: 0.2rem;
}

.reportTitle {
  font-size: 1.4rem;
  margin-top: 0.45vh;
  margin-bottom: 0.45vh;
}

.reportInfo {
  font-size: 0.8rem;
  color: gray;
  padding-left: auto;
}

.reportDate {
  margin-right: 0.2rem;
}

.footer {
  width: 100%;
  margin-top: 5vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  text-align: center;
}

.copyright {
  margin-top: 3vh;
  margin-bottom: 1vh;
  font-size: 1.1rem;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  a {
    color: white;
  }
}
